/* ### BASE ELEMENTS ### */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

span {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* ### BASE CLASSES ### */

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.uppercase {
  text-transform: uppercase;
}

/* ### COMPONENTS ### */

/* # Main Layout # */
.outlet {
  position: relative;
  width: 100%;
  top: 115px;
}

.appBar {
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
  background-color: #181c24;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 5;
}

.loginBar {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #646cff;
  border-radius: 50%;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.install {
  height: 30px;
  padding: 0px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4e9c40;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.install:hover {
  background-color: #74c95d;
  transition: background-color 0.25s;
}

/* # Banner # */
.banner-image {
  width: 100%;
  height: 600px;
  background-color: rgb(54, 205, 197);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banner-image a {
  color: white;
}

.banner-bar {
  width: 1500px;
  height: 35px;
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #40719e, #1f468a);
}

.banner-search-bar {
  width: 300px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #316282;
  padding-right: 5px;
}

.banner-input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  background-color: #316282;
  border: none;
}

.search-icon {
  background-color: #549fcb;
  padding: 3px;
}

.banner-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.banner-links a {
  padding: 15px;
}

/* # Featured Nav Bar # */
.dropdown {
  position: relative;
}

.dropdown-label {
  cursor: pointer;
  padding: 15px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 29px;
  left: 0;
  background-image: linear-gradient(to bottom right, #556070, #2e3137);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  text-align: left;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-menu a {
  padding: 0px;
}

.dropdown-menu a:hover {
  border-bottom: 1px solid #fff;
}

/* # Featured Container # */
.featured-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1c2838;
  padding-bottom: 40px;
}

.featured-main-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* # Featured Sidebar # */
.featured-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 40px 0 0 40px;
  height: 100%;
}

.featured-sidebar-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}

.featured-sidebar-section h4 {
  text-transform: uppercase;
  color: #8cafd0;
  margin: 0px;
  padding: 0px;
}

.featured-sidebar-section h5 {
  text-transform: uppercase;
  color: #516c83;
  margin: 0px;
  padding: 0px;
}

.featured-sidebar-section p {
  color: #a3b2c3;
  margin: 0px;
  padding: 0px;
}

/* # Featured Carousel # */
.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-slide {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carousel-image {
  width: 600px;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.9s ease;
}

.carousel-side-buttons {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  height: 100px;
  border-radius: 0;
  font-weight: 900;
}

.carousel-side-button-left {
  background: linear-gradient(
    90deg,
    rgba(20, 29, 41, 1) 75%,
    rgba(27, 90, 123, 0) 100%
  );
}

.carousel-side-button-right {
  background: linear-gradient(
    90deg,
    rgba(27, 90, 123, 0) 0%,
    rgba(20, 29, 41, 1) 25%
  );
}

.carousel-side-button-left:hover {
  background: linear-gradient(
    90deg,
    rgba(71, 94, 115, 1) 75%,
    rgba(27, 90, 123, 0) 100%
  );
}

.carousel-side-button-right:hover {
  background: linear-gradient(
    90deg,
    rgba(27, 90, 123, 0) 0%,
    rgba(71, 94, 115, 1) 25%
  );
}

.carousel-indicators {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-indicator {
  width: 20px;
  height: 10px;
  padding: 0;
  margin: 0 5px;
  border-radius: 2px;
  background-color: #504d5f;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-indicator.active {
  background-color: #707389;
}

.carousel-thumbnails-container {
  width: 400px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.carousel-thumbnail {
  width: 180px;
  height: 90px;
}

.slide-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1a1a1a;
  padding-left: 15px;
}

.slide-info h3 {
  text-transform: uppercase;
}

.carousel-price-platform {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  padding-left: 10px;
  padding-right: 10px;
}

.carousel-platforms {
  display: flex;
  flex-direction: row;
}

/* # Offer Carousel # */

.special-offers-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 70px 0 70px;
  margin-top: 40px;
}

.offer-carousel-container {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  justify-content: center;
}

.offer-carousel-grid-3 div:nth-child(-n + 3) {
  grid-row: span 2;
}

.offer-carousel-grid-4 div:nth-child(-n + 2) {
  grid-row: span 2;
}

.offer-carousel-grid-5 div:nth-child(-n + 1) {
  grid-row: span 2;
}

.panel-container {
  background: linear-gradient(
    45deg,
    rgba(27, 90, 123, 1) 4%,
    rgba(28, 103, 140, 1) 7%,
    rgba(37, 126, 166, 1) 11%,
    rgba(27, 90, 123, 1) 20%,
    rgba(35, 124, 156, 1) 29%,
    rgba(27, 90, 123, 1) 37%,
    rgba(28, 92, 132, 1) 43%,
    rgba(28, 116, 156, 1) 49%,
    rgba(28, 103, 140, 1) 56%,
    rgba(28, 92, 132, 1) 62%,
    rgba(36, 115, 155, 1) 69%,
    rgba(27, 90, 123, 1) 73%,
    rgba(37, 126, 166, 1) 84%
  );
}

.special-offers-cover {
  width: 100%;
  height: 60%;
}

.full-discount {
  position: relative;
  bottom: 30px;
}

.discount-tag-long {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
}

.discount-tag-percent {
  width: 40%;
  height: 100%;
  background-color: #37703d;
  color: #aaf924;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount-tag-percent h4 {
  margin: 0;
  padding: 0;
}

.discount-tag-reduced {
  background-color: #2a302e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.discount-tag-reduced p {
  margin: 0;
  padding: 0;
  color: #848484;
  text-decoration: line-through;
  font-size: 12px;
}

.discount-tag-reduced h5 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #aaf924;
}

.discount-percent-only {
  background-color: #37703d;
  color: #aaf924;
  font-size: 28px;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-date {
  font-size: 12px;
  color: #b4b4eb;
  margin-bottom: 40px;
  padding: 0;
}

.full-panel-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.small-panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.small-panel-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  padding-top: 13px;
}
