:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

span {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.divider-horizontal {
  width: 100%;
  height: 1px;
  margin: 10px 0px;
}

.divider-vertical {
  width: 1px;
  height: 100%;
  margin: 0px 10px;
}

.divider-dashed {
  border-style: dashed;
}

.divider-dotted {
  border-style: dotted;
}

.divider-solid {
  border-style: solid;
}

.divider-rounded {
  border-style: solid;
  border-radius: 5px;
}

.divider-horizontal.divider-dashed,
.divider-horizontal.divider-dotted,
.divider-horizontal.divider-solid,
.divider-horizontal.divider-rounded {
  border-top-width: 3px;
  border-top-color: #bbb;
}

.divider-vertical,
.divider-dashed,
.divider-vertical,
.divider-dotted,
.divider-vertical,
.divider-solid,
.divider-vertical,
.divider-rounded {
  border-left-width: 3px;
  border-left-color: #bbb;
}

.outlet {
  position: relative;
  width: 100%;
  top: 115px;
}

.appBar {
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
  background-color: #181c24;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 5;
}

.loginBar {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #646cff;
  border-radius: 50%;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.install {
  height: 30px;
  padding: 0px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4e9c40;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.install:hover {
  background-color: #74c95d;
  transition: background-color 0.25s;
}

/* ### COMPONENTS ### */
.banner-image {
  width: 100%;
  height: 600px;
  background-color: rgb(54, 205, 197);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banner-image a {
  color: white;
}

.banner-bar {
  width: 1500px;
  height: 35px;
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #40719e, #1f468a);
}

.banner-search-bar {
  width: 300px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #316282;
  padding-right: 5px;
}

.banner-input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  background-color: #316282;
  border: none;
}

.search-icon {
  background-color: #549fcb;
  padding: 3px;
}

.banner-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.banner-links a {
  padding: 15px;
}

.dropdown {
  position: relative;
}

.dropdown-label {
  cursor: pointer;
  padding: 15px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 29px;
  left: 0;
  background-image: linear-gradient(to bottom right, #556070, #2e3137);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: left;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-menu a {
  padding: 0px;
}

.dropdown-menu a:hover {
  border-bottom: 1px solid #fff;
}

.featured-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #2b2a3c;
  padding-bottom: 40px;
}

.featured-main-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.featured-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 40px 0 0 40px;
  width: 100%;
  height: 100%;
}

.featured-sidebar-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}

.featured-sidebar-section h4 {
  text-transform: uppercase;
  color: #8cafd0;
  margin: 0px;
  padding: 0px;
}

.featured-sidebar-section h5 {
  text-transform: uppercase;
  color: #516c83;
  margin: 0px;
  padding: 0px;
}

.featured-sidebar-section p {
  color: #a3b2c3;
  margin: 0px;
  padding: 0px;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-image {
  width: 800px;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.9s ease;
}

.nav-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.carousel-indicators {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.indicator {
  width: 20px;
  height: 10px;
  padding: 0;
  margin: 0 5px;
  border-radius: 2px;
  background-color: #504d5f;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #707389;
}

.carousel-thumbnails-container {
  width: 400px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.carousel-thumbnail {
  width: 180px;
  height: 90px;
}

.carousel-slide {
  display: flex;
  flex-direction: row;
}

.slide-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1a1a1a;
  padding-left: 15px;
}

.slide-info h3 {
  text-transform: uppercase;
}

.carousel-price-platform {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  padding-left: 10px;
  padding-right: 10px;
}

.carousel-platforms {
  display: flex;
  flex-direction: row;
}
